@import url(https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css);

.arrow {
  display: flex;
}

.bx {
  color: white;
  font-size: calc(var(--calendar-width) / 25);
  cursor: pointer;
}

.bxs-left-arrow {
  position: absolute;
  top: calc(var(--calendar-width) * 1.2 * 0.2 * 0.42);
  left: calc(var(--calendar-width) * 1.2 * 0.2 * 0.42);
}

.bxs-right-arrow {
  position: absolute;
  top: calc(var(--calendar-width) * 1.2 * 0.2 * 0.42);
  right: calc(var(--calendar-width) * 1.2 * 0.2 * 0.42);
}
